
* {  
  vertical-align: baseline;  
  border: none;  
  padding: 0;  
  margin: 0;  
  }  
body {  
 
  }  
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {  
	font-weight:400;
  }  
li, dd, blockquote {  

  }  
table {  
  border-collapse: collapse;  
  border-spacing: 0;  
  } 

  p {
	  margin:10px  0 10px ;
  }
  
html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol{
  max-height: 5000em;
}  

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;	
}  
  

body {
	width:960px;
	margin:0 auto;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.22),0px 0px 10px rgba(0,0,0,0.22);

    background-color: transparent;
}



header .header_contacts {
	height:17px;
	text-align:right;
	padding:7px 5px;
}

header .header_center {
	height:168px;
	background:url(../images/head.jpg);
	position:relative;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

header .header_center .header_center_gerb{
	position:absolute;
	left:17px;
	top:38px;
}

header .header_center .header_center_edro{
	position:absolute;
	left:425px;
	top:47px;
}

header .header_center .header_center_info1{
	position:absolute;
    top: 51px;
    left: 492px;
	text-align: right;	
}

header .header_center .header_center_info2{
	position:absolute;
    top: 144px;
    left: 111px;	
}

header .header_center .header_center_kuzin {
	position:absolute;
    left: 108px;
    top: 64px;
	text-align: center;
}

header .header_center .header_center_kuzin  .header_center_kuzin_span1{
	font-size: 22px;
    line-height: 26px;
    padding-top: 11px;
    color: #B87207;
	
}

header .header_center .header_center_kuzin .header_center_kuzin_span2{
	font-size: 16px;
    line-height: 19px;
    color: #333333;
}


header .nav>ul {
        width: 100%;
        margin: 0;
        /*padding: 10px 0 0 0;*/
        list-style: none;
        background:#0071BC;

}

header .nav>ul:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



header .nav>ul>li {
	list-style:none;
	float:left;
	position:relative;
	margin:0;
	padding:5px 37px;
	background:#0071BC;
	color:#fff;
	cursor:pointer;
}

header .nav>ul>li a {
	color:inherit;
	text-decoration:none;
	font-size:14px;
}

header .nav>ul>li:hover, header .nav>ul>li.active {
	background:#B87207;
}

header .nav>ul>li>ul {
	position:absolute;
	background:#fff;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	display:block;
	top: 27px;
	color:#000;
	list-style:none;
	display:none;
	width: 100%;
    left: -1px;
}

header .nav>ul>li:hover>ul {
	display:block;
}


header .nav>ul>li>ul>li {
	border-bottom:1px solid #ccc;
	padding:5px 15px;
}

header .nav>ul>li>ul>li:hover {
	color:#aaa;
}



header .breadcrumbs {
    color: #7F7F7F;
    line-height: 12px;
    text-align: right;
    font-size: 10px;
	padding:5px 10px;
	border-bottom:1px solid #ccc;
}


main {
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

main h1 {
	font-size: 26px;
    line-height: 40px;
}
main h2 {
	font-size: 22px;
    line-height: 32px;
}


main .content {
	width:70%;
    -moz-box-sizing: border-box; /* Äëÿ Firefox */
    -webkit-box-sizing: border-box; /* Äëÿ Safari è Chrome */
    box-sizing: border-box; /* Äëÿ IE è Opera */	
	float:left;
	padding:3px 5px 5px 10px;
}

main .sidebar {
	width:30%;
    -moz-box-sizing: border-box; /* Äëÿ Firefox */
    -webkit-box-sizing: border-box; /* Äëÿ Safari è Chrome */
    box-sizing: border-box; /* Äëÿ IE è Opera */	
	float:left;
	padding:3px 4px 5px 40px;
}

main .sidebar .sidebar_parlament_portal{
	padding:8px 0;
}
main .sidebar .sidebar_parlament_portal a{
	border-width: 1px;
    border-style: solid;
    border-color: #41536B;
    background-color: transparent;
	display:block;
	line-height: 0;
	width: 243px;
}

main .sidebar  p {
	margin:0 0 10px;
}

main .sidebar .sidebar_social .fa-facebook {
	color:#3A5795;
}

main .sidebar .sidebar_social .fa-twitter {
	color:#9AE4E8;
}
main .sidebar .sidebar_social .fa-vk {
	color:#45668E;
}

main .sidebar .sidebar_social a{
	display:block;
	margin:10px 22px;
	float:left;
}

main .sidebar .newslist {
	border:1px solid #0071BC;
}

main .sidebar .newslist .newslist_head {
	background:#0071BC;
	color:#fff;
	padding:3px 6px;
}

main .sidebar .newslist .newslist_head  a {
	float:right;
	color:#00FFFF;
}

main .sidebar .newslist .newslist_body {
	padding:10px 5px 5px
}

main .sidebar .newslist .newslist_body span.date {
	float:left;
	text-indent: 5px;
    color: #7F7F7F;
    line-height: 14px;
    font-size: 12px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;	
}
main .sidebar .newslist .newslist_body span.anounce {
	float:left;
	margin-left:5px;
	font-size: 12px;
    line-height: 14px;
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	width:175px;
}

main .sidebar .newslist .newslist_body span.anounce h4 {
}
main .sidebar .newslist .newslist_body span.anounce p {
	color: #7F7F7F;
}